.formElement{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 30%;
    margin: 0 auto;
    
}
.formElement input{
    height: 30px;
}
.formElement button{
    margin-top: 15px;
    color: white;
    border: none;
    background-color: green;
    border-radius: 3px;
    padding: 10px;
}